{% extends 'base/base.html' %}
{% load static %}
{% block title %}
  <title>sustain | Sign Up</title>
{% endblock %}

{% block style %}
  <style>
    .gradient-custom {
      /* fallback for old browsers */
      background: rgba(252, 250, 240, 1);
    
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to bottom, rgba(252, 250, 240, 1), rgba(37, 117, 252, 1));
    
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to bottom, rgba(252, 250, 240, 1), rgba(37, 117, 252, 1));
    }
    body, html {
      overflow: hidden;
    }
  </style>
{% endblock %}

{% block layout %}
  <section class="vh-100 gradient-custom">
    {% csrf_token %}
    <form method="POST">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-between h-100">
          <img>
            <img src="{% static 'img/sustain_logo.png' %}" alt="Sustain Logo" height="150" class="profile-picture" style="margin-top: 240px">
          </img>
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4">
                  <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>

                  <div class="row">
                    <div class="col">
                      <div class="form-outline form-white mb-4">
                        <input name="username" id="typeEmailX" class="form-control form-control-lg" required/>
                        <label class="form-label" for="typeEmailX">Username</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="form-outline form-white mb-4">
                        <input name="first_name" id="typeEmailX" class="form-control form-control-lg" required/>
                        <label class="form-label" for="typeEmailX">First Name</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline form-white mb-4">
                        <input name="last_name" id="typeEmailX" class="form-control form-control-lg" required/>
                        <label class="form-label" for="typeEmailX">Last Name</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="email" name="email" id="typeEmailX" class="form-control form-control-lg" required/>
                    <label class="form-label" for="typeEmailX">Email</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input name="password1" type="password" id="typePasswordX" class="form-control form-control-lg" required/>
                    <label class="form-label" for="typePasswordX">Password</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input name="password2" type="password" id="typePasswordX" class="form-control form-control-lg" required/>
                    <label class="form-label" for="typePasswordX">Re-enter Password</label>
                  </div>

                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
{% endblock %}
