{% extends 'base/base.html' %}
{% load static %}
{% block navbar %}



<div class="container">
  <div class="profile-page tx-13">
    <nav class="navbar navbar-expand-lg bg-body-tertiary container sticky-top" id="NavbarContainer">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/sustain_logo.png' %}" alt="Sustain Logo" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'feed:feed'%}">feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'challenges:challenges'%}">challenges</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profiles:profile' %}">profile</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-success" href="{%url 'users:logout'%}">logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </container>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
  #NavbarContainer {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ccc;
    width: 100%;
    position: fixed;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: #28A745;
    font-size: 13pt;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-picture {
    border-radius: 50%;
    width: 40px;  /* Set the width */
    height: 40px;  /* Set the height */
    object-fit: cover;  /* This will make sure the image covers the entire area */
  }

  .dropdown-item {
    width: 50%;
    height: 50%;
  }
</style>
  <script type="text/javascript"></script>
{% endblock %}
{% block style %}


{% endblock %}
{% block layout %}
    {% block body %}
    {% endblock %}
{% endblock %}
{% block script %}
{% endblock %}
