{% extends 'base/layout.html' %}
{% load static %}
{% block title %}
  <title>sustain | challenges</title>
{% endblock %}

{% block style %}
  {% for challenge in challenges %}
    <div class="card" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Cause: {{challenge.cause}}</h5>
            <p class="card-text">{{challenge.description}}</p>
            <p class="card-text" style="color: red;">Time remaining: 2 hours</p>
            <p class="card-text" style="color: blue;">Points: 100</p>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#completeChallengeModal">Complete Challenge</a>
            <!-- Modal -->
            <div class="modal fade" id="completeChallengeModal" tabindex="-1" role="dialog" aria-labelledby="completeChallengeModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                      <h5 class="modal-title" id="completeChallengeModalLabel">Complete Challenge</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="profile-picture">Upload Profile Picture</label>
                        <input type="file" class="form-control-file" id="profile-picture">
                      </div>
                      <div class="form-group">
                        <label for="location">Current Location</label>
                        <input type="text" class="form-control" name = "location" id="location" placeholder="Enter your location" readonly>
                        <button type="button" class="btn btn-primary" onclick="getLocation()">Get Current Location</button>
                        <input type="number" name="challenge_pk" value="{{ challenge.pk }}" hidden>
                      </div>

                      <script>
                        function getLocation() {
                          if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(showPosition);
                          } else {
                            alert("Geolocation is not supported by this browser.");
                          }
                        }

                        function showPosition(position) {
                          var latitude = position.coords.latitude;
                          var longitude = position.coords.longitude;
                          document.getElementById("location").value = latitude + ", " + longitude;
                        }
                      </script>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <a href="{% url 'challenges:delete_challenges' challenge.pk %}" class="btn btn-primary" style="background-color: red;">Delete</a>
          </div>
        </div>
        <div class="col-md-4">
          {% if challenge.cause == 'Mental_Health' %}
            <img src="{% static 'img/cause_mentalHealth.jpg' %}" class="card-img float-right" alt="..." height="258">
          {% elif challenge.cause == 'green_spaces' %}
            <img src="{% static 'img/cause_green_spaces.png' %}" class="card-img float-right" alt="..." height="258">
          {% elif challenge.cause == 'clean_air_water' %}
            <img src="{% static 'img/cause_clean_air_water.png' %}" class="card-img float-right" alt="..." height="258">
          {% elif challenge.cause == 'sustainable_transportation' %}
            <img src="{% static 'img/cause_sustainable_transportation.png' %}" class="card-img float-right" alt="..." height="258">
          {% elif challenge.cause == 'climate_action' %}
            <img src="{% static 'img/cause_climate_action.png' %}" class="card-img float-right" alt="..." height="258">
          {% elif challenge.cause == 'healthy_food_systems' %}
            <img src="{% static 'img/cause_healthy_food_systems.png' %}" class="card-img float-right" alt="..." height="258">
          {% elif challenge.cause == 'energy_efficiency' %}
            <img src="{% static 'img/cause_energy_efficiency.png' %}" class="card-img float-right" alt="..." height="258">
          {% elif challenge.cause == 'reduced_noise_pollution' %}
            <img src="{% static 'img/cause_muscular_wood_guy.png' %}" class="card-img float-right" alt="..." height="258">
          {% elif challenge.cause == 'waste_reduction' %}
            <img src="{% static 'img/cause_waste_reduction.png' %}" class="card-img float-right" alt="..." height="258">
          {% elif challenge.cause == 'sustainable_housing' %}
            <img src="{% static 'img/cause_muscular_wood_guy.png' %}" class="card-img float-right" alt="..." height="258">
          {% elif challenge.cause == 'community_engagement' %}
            <img src="{% static 'img/cause_helping_the_needy.png' %}" class="card-img float-right" alt="..." height="258">
          {% endif %}
          
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="text-center mt-4">
    <button style="background-color: #698C41; color: white;" type="button" class="btn" data-toggle="modal" data-target="#createChallengeModal">Create Challenge</button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="createChallengeModal" tabindex="-1" role="dialog" aria-labelledby="createChallengeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="createChallengeModalLabel">Create Challenge</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>I want to support 
              <select name="support-dropdown" id="support-dropdown">
                <option value="Mental_Health">Mental Health</option>
                <option value="green_spaces">Green Spaces</option>
                <option value="clean_air_water">Clean Air and Water</option>
                <option value="sustainable_transportation">Sustainable Transportation</option>
                <option value="climate_action">Climate Action</option>
                <option value="healthy_food_systems">Healthy Food Systems</option>
                <option value="energy_efficiency">Energy Efficiency</option>
                <option value="reduced_noise_pollution">Reduced Noise Pollution</option>
                <option value="waste_reduction">Waste Reduction</option>
                <option value="sustainable_housing">Sustainable Housing</option>
                <option value="community_engagement">Community Engagement</option>
              </select> 
              and I have 
              <select name="hours-dropdown" id="hours-dropdown">
                <option value="1">1 hour</option>
                <option value="2">2 hours</option>
                <option value="3">3 hours</option>
                <option value="4">4 hours</option>
                <option value="5">5 hours</option>
              </select> 
              to help.
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Accept</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}