{% extends 'base/layout.html' %}

{% block title %}
  <title>sustain | people</title>
{% endblock %}


{% block body %}
<div class="card-body">
    <table class="table" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Username</th>
                <th>Add Friend</th>
            </tr>
        </thead>
        <tbody>
            {% for friend in not_friends %}
                <tr>
                    <td>{{ friend.user.first_name }}</td>
                    <td>{{ friend.user.username }}</td>
                    <td><a class="btn btn-icon" href="{% url 'feed:follow' friend.pk %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus" data-toggle="tooltip" title data-original-title="Connect">
                          <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                          <circle cx="8.5" cy="7" r="4"></circle>
                          <line x1="20" y1="8" x2="20" y2="14"></line>
                          <line x1="23" y1="11" x2="17" y2="11"></line>
                        </svg>
                      </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}